---
---
$color-black:   #000000 !default;
$color-white:   #ffffff !default;

$z-max:         9999999 !default;

html, body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  margin-left: 18rem;
}

.docs-header {
  position: fixed;
  overflow: auto;
  background-color: #eeeeee;
  min-height: 100vh;
  padding: 1rem;
  height: 100vh;
  width: 18rem;
}

.docs-icon {
  height: 1em;
  width: 1em;
  fill: $color-black;

  &.docs-primary-nav__icon {
    margin-left: auto;
  }
}

.docs-primary-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  overflow: auto;
  z-index: $z-max;

  .docs-primary-nav__list,
  .docs-primary-nav__sublist {
    display: block;

    position: static;

    width: 100%;
    margin: 0;
    padding: 0;

    .docs-primary-nav__item,
    .docs-primary-nav__subitem {
      margin: 0;
      padding: 0;
      list-style: none;

      .docs-primary-nav__link {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        text-decoration: none;

        &:hover,
        &:focus {
          color: lighten($color-black, 20%);
        }

        &:focus,
        &:active {
          outline: 1px dotted $color-black;
        }

        &.docs-primary-nav__link {}
      }
    }
  }

  .docs-primary-nav__sublist {
    margin-left: 1rem;
    width: auto;
  }

  .docs-primary-nav__subitem {}

}
