<nav class="docs-primary-nav" role="navigation">
  <ul class="docs-primary-nav__list" role="tablist" aria-multiselectable="true">
    {% for node in site.pages %}
    {% if node.layout == 'landing' %}
    <li class="docs-primary-nav__item {% if page.url == node.url %}is-active{% endif %}">
      <a href="#" class="docs-primary-nav__link" role="button" tabindex="0" aria-expanded="false">
        <span class="docs-primary-nav__text">{{ node.title }}</span>
      </a>
    </li>
    {% elsif node.layout == 'category' %}
    <li class="docs-primary-nav__item {% if page.url == node.url %}is-active{% endif %}">
      <a href="#" class="docs-primary-nav__link {% if node.group %}docs-primary-nav__link--has-children js-nav-dropdown-trigger{% endif %}">
        <span class="docs-primary-nav__text">{{ node.title }}</span>
        {% if node.group %}
        <svg class="docs-icon docs-primary-nav__icon" aria-hidden="true">
          <use href="{{ "/docs-icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
        </svg>
        {% endif %}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
