<!DOCTYPE html><!-- html5 -->

<html lang="{{ site.language }}" dir="ltr">
  <head>
    <!-- Set character encoding for the document -->
    <meta charset="utf-8">

    <!-- Viewport for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <!-- Document Title -->
    <title></title>

    <!-- Meta Description -->
    <meta name="description" content="">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/docs.css">
    <link rel="stylesheet" href="/css/theme.css">

  </head>

  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>

</html>
